**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/out
**/node_modules
**/dist
**/build
**/logs
**/*.log
**/*.md
!README.md
**/Dockerfile*
**/docker-compose*
.editorconfig
.DS_Store
*.swp
*.bak
*.tmp
